<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="icon" href="../fav.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
        body{
            background-image: linear-gradient(to right, rgb(122, 140, 236), rgb(141, 195, 245), rgb(121, 235, 223));
        }
        #big{
            font-size: 4rem;
            text-decoration: underline;
        }
        .home{
            text-align: center;
            text-decoration: underline;
        }
        
        #ho{
            font-size: 6rem;
        }
        p{
            font-size: 2rem;
        }
        #container{
            width:  100rem;
            margin: 2rem 14rem;
        }
        a{
            color: black;
            text-decoration: underline;
        }
        #goal{
            font-size: 3rem;
            text-decoration: underline;
        }
    </style>
</head>
<body>
	<div class="col-md-4 col-md-offset-4" id="container">
		<div class="home">
			<p id="ho">HOME</p>
		</div>
        <div class="describe">
            <p id="big">
                What is this for?
            </p>
            <p>
                This is a Simple User Registration & Login systems app done with Node.js Framework using MongoDB(Atlas) as the data store, Express as the routing system, Body-parser as the parser for webpage, Express-session used to track the user's session and of course Mongoose to make interacting with Mongo from Node easy.
            </p>
        </div>
        <div class="github">
           <p> To find this project and my github profile : <a href="https://github.com/shravan2524">click here</a></p>
        </div>
        <div class="goals">
            <p id="goal">My Career Goal</p>
            <p>
                I am currently pursuing computer science engineering.
                As of now, my short term goal is to get a internship that compliments my expertise and helps me widen my horizons with exciting learning opportunities in the next couple of months.
                In the bigger picture, In five years, I’d love to be a true apparel industry expert with successful end-to-end technical experience under my belt as I look to grow into a more senior technical role. It’s exciting that your company has a strong focus on hands-on experience and continued learning opportunities.
            </p>
        </div>
        <div class="fname">
            <p class="big">Go back to admin page: <a href="/profile"><i class="fa fa-arrow-circle-left" style="font-size:20px"></i></a> </p>
        </div>
	</div>
</body>
</html>